<form (ngSubmit)="onSubmit(eventForm)" #eventForm="ngForm" novalidate>
  <div class="form-group">
    <label for="desc">Description</label>
    <input type="text" class="form-control" id="desc"
           required
           ngModel name="desc" #desc="ngModel">
    <div [hidden]="desc.valid || desc.pristine"
         class="alert alert-danger">
      description is required
    </div>
  </div>
  <div class="form-group">
    <input [mdDatepicker]="myDatepicker" [(ngModel)]="event.date" name="date">
    <md-datepicker-toggle [for]="myDatepicker"></md-datepicker-toggle>
    <md-datepicker #myDatepicker></md-datepicker>
    <ngb-timepicker [(ngModel)]="event.time" name="time" *ngIf="event.date"></ngb-timepicker>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!eventForm.form.valid">Submit</button>
</form>
